/* api container custom css */
#api-container {
  display: flex;
  border: 2px solid black;
  height: 30vh;
  justify-content: space-evenly;
}
#weather-api {
  border: 2px solid black;
  width: 50%;
}
#bike-trail-api {
  border: 2px solid black;
  width: 50%;
}

/* HERO section css */
#hero-container {
  border: 2px solid black;
  height: 30vh;
}

/* Purpose section css */
#purpose-container {
  border: 2px solid black;
  height: 25vh;
}

/* SIGN UP section css */
#sign-up-container {
  border: 2px solid black;
  height: 25vh;
}

/* Contact Us section css */
#contact-us-container {
  border: 2px solid black;
  height: 25vh;
}

/* Footer section css */
#footer-container {
  border: 2px solid black;
  height: 25vh;
}
