/* start style.css */
body{
  background-color: #ffebbc;
}
.row {
  width: 96%;
  margin-left: 2%;
}


/* pancake navbar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* end pancake navbar */

.carousel .carousel-item {
  width: 400px;
  height: 400px;
  top: 50px; /* moves the images down to center */
}

.signUpRow,
.emailRow,
.socialRow,
.contactListRow {
  margin: 0px;
  width: 100%;
}

.socialButtons {
  background-color: white;
  font-size: 32px;
  transition: 0.4s;
  padding: 5px 20px;
  border-radius: 20px;
}

.socialButtons:hover {
  opacity: 0.4;
}
.contactUsList li {
  margin: 3px 0px 3px 0px;
}

.ourHoursTitle,
.ourHoursTitle tr {
  padding: 0;
  height: 42px;
}

.ourHoursTitle thead {
  height: 42px;
}

.ourHoursTitle h5 {
  padding: 0;
  margin-top: 8px;
}

.hoursTable {
  margin-bottom: 0px;
}

.hoursTable th,
.hoursTable td,
.hoursTable tr {
  padding: 5px 5px 5px 5px;
  border: 0;
}

.shopLinks li {
  margin: 5px 0px 5px 0px;
}

.supportLinks li {
  margin: 5px 0px 5px 0px;
}

.brand-logo {
  position: fixed;
  width: 11%;
  margin-top: 12px;
}

.weather-icon {
  max-width: 40%;
}

.weekly-day {
  display: flex;
  flex-direction: column;
}

/* 
always at top on scroll */
nav{
  background-color: rgb(102,128,110);
}

#nav-container {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 998;
}

/* api container custom css */
#api-container {
  display: flex;
  border: 2px solid black;
  justify-content: space-evenly;
}
/* Weather section */
#weather-api {
  border: 2px solid black;
  width: 50%;
  background-color: rgb(248, 246, 246);
}

#weather-section {
  display: inline-block;
}

#weather-api-title {
  margin-top: 1%;
  text-align: center;
}
#current-section {
  display: none;
}

#weather-header-section {
  display: flex;
  flex-direction: row;
}

#weather-nav {
  margin-bottom: 0%;
}

#weather-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  padding-bottom: 1%;
  border-bottom: 2px solid gray;
}

#current-container {
  display: flex;
  flex-direction: column;
}

#current-title {
  text-align: center;
  margin: 0%;
}
#current-data {
  padding-top: 2%;
  padding-left: 10%;
}
/* WEAHTER WEEKLY */
#weekly-section-section {
  display: inline-block;
}
#weekly-section {
  display: flex;
  flex-direction: column;
}
#Weekly-title {
  display: flex;
  justify-content: center;
  margin: 0%;
}
#weekly-display {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  justify-content: space-around;
}
#dayKey {
  padding-right: 1%;
}
#weekly-data {
  justify-content: center;
}

/* BIKE trail */
#bike-trail-api {
  position: relative;
  border: 2px solid black;
  width: 50%;
  background-color: white;
}

/* HERO section css */
#hero-container {
  border: 0px solid black;
  margin-left: 2%;
  /* background-image: url(../images/street.png); */
}

#hero-title {
  text-align: center;
}

/* Purpose section css */
#purpose-container {
  border: 0px solid black;
}

#teamImg {
  float: left;
}

#purpose-title {
  text-align: center;
}

/* SIGN UP section css */
#sign-up-container {
  border: 0px solid black;
  /*  height: 25vh; */
}

/* Contact Us section css */
#contact-us-container {
  border: 0px solid black;
  /*  height: 25vh; */
}

/* Footer section css */
#footer-container {
  border: 0px solid black;
  /*  height: 25vh; */
}

/* shop button move up */
#button-div {
  position: relative;
  top: -20px;
}

#heroShopButton {
  background-color: black;
  color: white;
  font-size: 24px;
  transition: 0.4s;
  padding: 5px 20px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#heroShopButton:hover {
  background-color: grey;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#socialMediaButtons {
  display: flex;
  justify-content: space-around;
}


/* Apparel Page */
.shopHero{
  width: 100%;
}

#apparel-list{
  position: fixed;
}

.tee-row {
  padding: 15px;
}

.col-md {
  width: 24%;
}

.col-md:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}


#navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0;
  width: 100%;
}

#nav-logo {
  position: relative;
  float: left;
}

/* 9000px and less */
@media screen and (max-width: 9000px) {
    
    /* media queries for navbar */

    .something {
      display: block;
    }
    
    .something2 {
      display: none;
    }
    /* end navbar media queries */
  }

@media screen and (max-width: 1183px) {
  #api-container {
    flex-direction: column;
  }
  #weather-api {
    width: 100%;
  }
  #bike-trail-api {
    width: 100%;
  }

  /* media queries for navbar */

  .something {
    display: block;
  }
  
  .something2 {
    display: none;
  }
  /* end navbar media queries */

}

@media screen and (max-width: 992px) {
  
  #nav-logo {
  position: relative;
  float: left;
  left: 95px;
  }

}

@media screen and (max-width: 624px) {
  
  .carousel .carousel-item {
    width: 225px;
    height: 225px;
    top: 50px; /* moves the images down to center */
}
}

/* 540px and less */
@media screen and (max-width: 540px) {
/* around here the weekly weather starts going off screen */

/* media queries for navbar */
.something {
  display: none;
}

.something2 {
  display: block;
  position: relative;
  right: 15px;
}

#nav-logo {
  position: relative;
  float: left;
  left: 95px;
}

}