/* start style.css */
.hoursTable {
  margin-top: 14.5px;
  margin-bottom: 0px;
}

.hoursTable th,
.hoursTable td,
.hoursTable tr {
  padding: 5px 5px 5px 5px;
  border: 0;
}

.shopLinks li {
  margin: 3px 0px 3px 0px;
}

.supportLinks li {
  margin: 3px 0px 3px 0px;
}

/* api container custom css */
#api-container {
  display: flex;
  border: 2px solid black;
  justify-content: space-evenly;
}
/* Weather section */
#weather-api {
  border: 2px solid black;
  width: 50%;
}

#weather-section {
  display: inline-block;
}
#hr24-section {
  display: none;
}
#weekly-section {
  display: none;
}

#weather-header-section {
  display: flex;
  flex-direction: row;
}

#weather-nav {
  margin-bottom: 0%;
}

#weather-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
}

#current-container {
  display: flex;
  flex-direction: column;
}

#current-title {
  text-align: center;
  margin: 0%;
}

#bike-trail-api {
  border: 2px solid black;
  width: 50%;
}

/* HERO section css */
#hero-container {
  border: 2px solid black;
/*  height: 30vh; */
}

/* Purpose section css */
#purpose-container {
  border: 2px solid black;
  /* height: 75vh; */
}
#teamImg {
  float:left;
}

#purpose-title {
  text-align: center;
}

/* SIGN UP section css */
#sign-up-container {
  border: 2px solid black;
/*  height: 25vh; */
}

/* Contact Us section css */
#contact-us-container {
  border: 2px solid black;
/*  height: 25vh; */
}

/* Footer section css */
#footer-container {
  border: 2px solid black;
/*  height: 25vh; */
}

